


.dashboard-section{
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    

}
.user-container{
    background-color: rgb(16, 24, 60);
    color: white;
    width: 100%;
    min-height: 150px;



}

.user-info-card{
   
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-bio h2{
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #f2f2f2;
    line-height: 32px;
}
.user-bio p{
    font-family:sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #e5e5e5;
    
}

@media screen and (max-width: 768px) {
    .user-container{
        display: flex;
        align-items: center;
    }
    .user-bio h2{
        font-size: 14px;    
    }
    .user-bio p{
        font-size: 8px;
    }
    .notification{
        display: none;
    }
}

.date-time-card{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .date-time-card{
        gap: 10px;
        flex-direction: column;
        justify-content: center;
    }
    .icon{
        width: 18px;
        height: 16px;
    }
    
}
.date-card{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.time-card{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
    font-size: 12px;

}
.saved-library-container{
    z-index: 100;
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
;
}

@media screen and (max-width: 768px) {
    .saved-library-container{
        margin-top: 30px;
    }
    
}


.saved-library-card{
    width: 200px;
    height: 180px;
    background-color: #fff;
  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adjust as needed */
    border-radius: 10px; /* Adjust as needed */
    display: flex;
    align-items: center;
   
}

@media screen and (max-width: 768px) {
    .saved-library-container{
        margin-top: 30px;
    }
    .saved-library-card{
        width: 150px;
        height: 150px;
    }
    
}

.saved-library-card-info{
    margin-left: 10px;
   

}
.saved-library-card-info h3{
    color: rgb(55, 63, 65);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.saved-library-card-info p{
    color: rgb(115, 123, 125);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
}